@import 'https://fonts.googleapis.com/css?family=Droid+Sans';

body
{
    
}

#main
{
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px;
    font-family: Georgia;
}

#h1
{
    margin: 1px;
}

.spacing
{
    width: 100%;
    list-style: none;
}

.spacing li
{
    display: inline-block;
    width: 30%;
    text-align: center;
}

.center
{
    text-align: center;
}

.droid
{
    font-family: 'Droid Sans', sans-serif;
}

.verdana
{
    font-family: Verdana;
}

.trebuchet
{
    font-family: 'Trebuchet MS';
}