<!DOCTYPE html>
<html>
    <head>
        <title>This is title</title>

        <link rel="stylesheet" href="~/Content/Site.css" />
    </head>
    <body>
        <div id="main">
            <div class="right">
                <h1 class="border center">one</h1>
                <h2><a href="http://www.google.com" target="_blank">butts cola</a></h2>
                <h3>three</h3>
                <h4 class="border">four</h4>
                <h5>five</h5>
                <h6 class="border">seven because fuck you</h6>
                <p style="border: 1px solid green;">visa is card</p>
                <div style="border: 1px solid blue;">phone is good</div>
                <span style="border: 1px solid red;">speaker bad not</span>
                <span style="border: 1px solid purple;">but woofer are pup</span>
                <table>
                    <thead>
                        <tr>
                            <th>teams</th>
                            <th>ball</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>moguls</td>
                            <td>eleventy</td>
                        </tr>
                        <tr>
                            <td>dargons</td>
                            <td>42</td>
                        </tr>
                    </tbody>
                </table>
                <p><b>couple</b></p>
                <p><strong>words</strong></p>
                <p><i>two</i></p>
                <p><em>more</em></p>
            </div>
            <div class="left">
                <ol>
                    <li>
                        dew of mounts
                    </li>
                    <li>
                        noir labels
                    </li>
                </ol>
            </div>
            <hr/>
            <footer>
                &copy; 2087 Dorbald Rompleford
            </footer>
            <p id="bottom">three words</p>
        </div>
        
    </body>
</html>