<!DOCTYPE html>
<html>
    <head>
        <title>Diego Ramirez</title>
        <link rel="stylesheet" href="~/Content/Formatting.css" />
    </head>
    <body>
        <div id="main">
            <h2 class="droid center">Diego Ramirez</h2>
            <ul class="droid spacing">
                <li>
                    370 Ocean Ave #1007
                </li>
                <li>
                    Revere, MA 02151
                </li>
                <li>
                    (786) 440-4677
                </li>
            </ul>
            <div class="droid center"><a href="mailto:diego.alej.ramirez@gmail.com"><b>diego.alej.ramirez@gmail.com</b></a></div> 
            <p class="verdana"><b>Education</b></p>
            <hr />
            <ul>
                <li>
                    Hospitality Management Major
                </li>
                <ul>
                    <li>
                        Florida International University, 75 Credits
                    </li>
                </ul>
            </ul>
            <p class="verdana"><b>Certification</b></p>
            <hr />
            <ul>
                <li>
                    CompTIA A+
                </li>
            </ul>
            <p class="verdana"><b>Work Experience</b></p>
            <hr />
            <div class="trebuchet"><b>Self Employed — August 2015-April 2016</b></div>
            <ul>
                <li>
                    <i>Freelance Technical Support</i>
                </li>
                <ul>
                    <li>
                        Advised client hardware and software purchases based on individual needs.
                    </li>
                    <li>
                        Reformatted client machines and installed new copies of Windows.
                    </li>
                    <li>
                        Installed and configured networking equipment.
                    </li>
                </ul>
            </ul>
            <p></p>
            <div class="trebuchet"><b>Compucom — January 2015-March 2015</b></div>
            <ul>
                <li>
                    <i>FPL Information Management Service Center Specialist</i>
                </li>
                <ul>
                    <li>
                        Acted as the single point of contact for all technical issues.
                    </li>
                    <li>
                        Identified any problems quickly and accurately using existing knowledge database.
                    </li>
                    <li>
                        Updated database with new solutions and flagged outdated or ineffective solutions.
                    </li>
                    <li>
                        Worked with all information management departments to resolve issues.
                    </li>
                    <li>
                        Documented all service requests accurately and maintatined accountability.
                    </li>
                </ul>
            </ul>
            <div class="trebuchet"><b>Nova Point of Sale — November 2013-July 2014</b></div>
            <ul>
                <li>
                    <i>Customer Care Department Helpdesk Technician</i>
                </li>
                <ul>
                    <li>
                        Troubleshot customer hardware and software issues.
                    </li>
                    <li>
                        Administered support for proprietary point of sale software.
                    </li>
                    <li>
                        Evaluated customer computers for hardware and software compatibility.
                    </li>
                    <li>
                        Reformatted and upgraded customer devices.
                    </li>
                    <li>
                        Ensured quality and proper function of demonstration computers.
                    </li>
                </ul>
                <li>
                    <i>Training Video Translation</i>
                </li>
                <ul>
                    <li>
                        Translated training videos from English to Spanish.
                    </li>
                    <li>
                        Added subtitles to video and ensured they were synced with audio.
                    </li>
                </ul>
            </ul>
            <div class="verdana"><b>Skills</b></div>
            <hr />
            <ul>
                <li>
                    English (native), Spanish (Latin American) (fluent)
                </li>
                <li>
                    Microsoft Windows operating systems (7,8,8.1,10)
                </li>
                <li>
                    Microsoft Office Suite
                </li>
                <li>
                    Computer hardware assembly and maintenance
                </li>
            </ul>
            <p><i>References available upon request.</i></p>
        </div>
    </body>
</html>
